# Created by .gitignore support plugin (hsz.mobi)

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/.idea
*.iml
src/test/db/
/sqlg-hsqldb-parent/sqlg-hsqldb/src/test/db/
/sqlg-benchmark-hsqldb/src/test/db/
/sqlg-h2-parent/sqlg-h2/src/test/db/
/sqlg-benchmark-h2/src/test/db/

### Eclipse files
**/.classpath
**/.project
**/.settings
/.metadata
/.recommenders
