@import "~bootstrap/scss/bootstrap";
@import "sqlg_variables";
@import "components/tree/slick-lazy-tree";
@import "components/slickgrid/slick.grid";
@import "components/slickgrid/m.slick.dropdownfilter";
@import "components/slickshuffle/slickShuffle";
@import "components/tree/slick-lazy-tree";
@import "sqlg/v1/src/modules/layout/mainLayout";
@import "modules/topology/topologyDetails";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";

html {
    height: 100%;

    body {
        position: relative;
        height: 100%;
        min-height: 100%;
        line-height: 1;
        background-color: $body-bg;
        overflow: hidden;

        .button-panel {

            height: 3rem;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: end;
            border-top: 1px solid #dee2e6;
            border-bottom-right-radius: .3rem;
            border-bottom-left-radius: .3rem;

            a.btn {
                margin-left: 3px;
                margin-right: 3px;
            }

            button.btn {
                margin-left: 3px;
                margin-right: 3px;
            }

            label.import-btn {
                margin-top: 0;
                margin-bottom: 0;
            }

        }

        .button-panel-left {
            justify-content: flex-start;
        }

        .button-panel-right {
            justify-content: flex-end;
        }

        .button-panel-center {
            justify-content: center;
        }

        .button-panel-space-between {
            justify-content: space-between;
        }
    }
}
