.schema-details {

    .schema-details-sqlg-schema {
        .row {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            h4 {
                background-color: $white;
            }
        }

    }
}
