.schemas {
    height: 100%;
    padding-top: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-template-columns: auto;
}

.abstract-labels {
    height: 100%;
    padding-top: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-template-columns: auto;
}

.schema-details {
    height: 100%;
    display: flex;
    flex-direction: column;

    .schema-details-grid {
        //height: 20rem;
        //flex-basis: 20rem;
        //flex-shrink: 0;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        .gridContainer {
            height: 20rem;
        }
    }

    .schema-header {
        border-top: 1px solid $gray-300;
    }

}
