#main-body {

    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3rem auto;

    #right-pane {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 3rem auto;

        #main {
            height: 100%;
            overflow-y: auto;

            .tab-pane {
                height: 100%;
            }
        }

    }
}

