.div-tooltip {
    z-index: 999;
    display: none;
    position: absolute;
    /*background-color: #000;*/
    padding: 3px 5px;
    color: #fff;
    font-size: 10px Arial;
    border-radius: 3px;
}
