.slick-tree-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2.5rem auto;
    .slick-tree {
        height: 100%;
        .slick-row {
            &.active {
                background-color: lightgreen;
            }
        }
    }
}