.left-pane {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5rem auto;

    .header {
        display: grid;
        grid-template-columns: 10rem auto;
        grid-template-rows: auto auto;
    }
}