.slick-lazy-tree-container {

    height: 100%;
    background-color: $gray-100;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: calc(2rem + 1px) auto;

    #Overlay {
        &.overlay-true {
            &.fas {
                font-weight: 900;
                font-size: 5em;
                color: rgb(14, 129, 230);
                top: 45%;
                position: relative;
                left: 45%;
            }
        }

        &.overlay-false {
            display: none;
        }
    }

    .slick-lazy-tree {
        position: relative;

        .slick-pane {
            &.slick-pane-header {
                &.slick-pane-left {
                    display: none;
                }
            }
        }

        .gridPane {
            .slick-pane {
                .slick-row {
                    &:hover {
                        //background-color: $info;
                    }

                    background-color: $gray-100;
                }

                .slick-cell {
                    border: none;

                    i {

                        text-align: center;

                        &.fas, &.far, &.fad, &.fal {

                            width: 12px;
                            margin-right: 4px;

                            &.fa-spinner {
                                font-size: 12px;
                                margin-right: 2px;
                            }

                            &.fa-info-circle, &.fa-check-double {

                                &:hover {
                                    text-shadow: 0 0 3px $success;
                                }
                            }

                            &.fa-caret-right, &.fa-caret-down {

                                margin-right: 2px;
                                font-size: 15px;

                                &:hover {
                                    cursor: pointer;
                                    text-shadow: 0 0 3px $success;
                                }
                            }

                            &.fa-cloud-download-alt {
                                margin-right: 6px;
                            }

                            &.fa-cloud-download-alt {
                                margin-right: 6px;
                            }

                            &.fa-circle {

                                font-size: 4px;

                            }

                        }
                    }

                    input {
                        &.slick-tree-checkbox {
                            margin-right: 5px;
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
    }

    .lazy-tree-search {
        &.input-group {
            &.input-group-sm {
                input {
                    height: calc(1.5em + 0.5rem + 4px);
                    border-radius: 0;
                    border-left: none;
                }
            }
        }
    }

}

